{% extends 'base.html' %} {% block content %}
<div
  style="
    background-image: url('/static/project-3.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
>
  <div
    style="
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
    "
  >
    <div class="container">
      <h1 style="text-align: center">Titanic Disaster Analysis</h1>
      <p style="text-align: center">
        Please provide the following information:
      </p>
    </div>
    <div>
      <form
        class="mx-auto"
        style="margin-top: 20px; max-width: 300px"
        action="/predict"
        method="POST"
      >
        <div class="mb-3">
          <label for="pclass" class="form-label" style="color: black"
            >P-class</label
          >
          <input
            type="text"
            class="form-control"
            id="pclass"
            name="pclass"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="sex" class="form-label" style="color: black"
            >Sex (0 for men & 1 for women)</label
          >
          <input
            type="text"
            class="form-control"
            id="sex"
            name="sex"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="age" class="form-label" style="color: black">Age</label>
          <input
            type="text"
            class="form-control"
            id="age"
            name="age"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="sibsp" class="form-label" style="color: black"
            >Siblings/Spouses Aboard</label
          >
          <input
            type="text"
            class="form-control"
            id="sibsp"
            name="sibsp"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="parch" class="form-label" style="color: black"
            >Parents/Children Aboard</label
          >
          <input
            type="text"
            class="form-control"
            id="parch"
            name="parch"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="fare" class="form-label" style="color: black"
            >Your ticket price</label
          >
          <input
            type="text"
            class="form-control"
            id="fare"
            name="fare"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="embarked" class="form-label" style="color: black"
            >Embarked (C, Q, S)</label
          >
          <input
            type="text"
            class="form-control"
            id="embarked"
            name="embarked"
            aria-describedby="emailHelp"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
